@import "../../style/vars";

.tabs {
  display: flex;
}

.tab {
  padding: 8px 15px 10px;
  cursor: pointer;
  &:first-child {
    margin-left: 0;
  }
  &.active {
    color: #fff;
    background-color: $blue;
  }
}