.svgNonogram {
  rect {
    stroke: #8a8a8a;
  }
}

.svgNumbers {
  text {
    font-size: 20px;
    transform: translate(6px, 15px);
  }
}

.fill-white {
  fill: white;
}

.color {
  width: 100px;
  height: 60px;
  margin-right: 12px;
  &-popover {
    position: absolute;
    z-index: 2;
  }
  &-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.chrome-picker > div:last-child {
  & > div:first-child {
    & > div:first-child {
      div {
        margin-top: 0 !important;
      }
    }
    & > div:last-child {
      & > div {
        &:first-child {
          margin-top: 2px;
          margin-bottom: 0 !important;
        }
        &:last-child {
          display: none;
        }
      }
    }
  }
  & > div:last-child {
    label {
      display: none !important;
    }
    & > div:last-child {
      display: none;
    }
  }
}